.pageselect-select svg {
    display: none;
}

.pageselect-select div {
    padding: 0px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100% !important;
    width: 100% !important;
    border-radius: 50% !important;
}
