.comment-body a {
    text-decoration: none;
}

.comment-body a:hover {
    text-decoration: underline;
}

.comment-body * {
    object-fit: contain;
    max-width: 100%;
}

.comment-body img,
.comment-body video {
    height: 100%;
    max-height: 800px;
    max-width: 100%;
}

.comment-body {
    max-width: 100%;
    overflow: hidden;
}

.comment-body blockquote {
    color: #aca9a9;
    border-left: 2px solid #646262;
    margin-left: 0;
    padding: 0;
}

.comment-body blockquote > div:first-child {
    margin-left: 15px;
}

.comment-body > blockquote *:not(span, button) {
    color: #aca9a9;
}

.comment-body blockquote > .comment-body > *:first-child {
    margin-top: 5px;
}

.comment-body blockquote > .comment-body > *:last-child {
    margin-bottom: 5px;
}

.comment-body > *:first-child {
    margin-top: 15px;
}

.comment-body > *:last-child {
    margin-bottom: 15px;
}
